HASHPHERE_STRATUM_HOST=stratum.ckpool.org
HASHPHERE_STRATUM_PORT=3333

HASHPHERE_BITCOIN_ADDRESS=YOUR_BITCOIN_ADDRESS
HASHPHERE_WORKER_NAME=auto
HASHPHERE_STRATUM_PASSWORD=x

HASHPHERE_COMPUTE_BACKEND=auto
HASHPHERE_COMPUTE_PROFILE=lite
